<div class="flex justify-center mt-8">
  <ol class="relative border-s border-gray-300 dark:border-gray-700">
    <div class="w-full max-w-5xl mx-auto mb-8 bg-white dark:bg-gray-900 rounded-lg overflow-hidden shadow-lg">
      <section class="p-6">
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-700 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">22. Dezember 2023</time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Test Titel</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Test Beschreibung</p>
        </li>
      </section>
    </div>

    <div class="w-full max-w-5xl mx-auto mb-8 bg-white dark:bg-gray-900 rounded-lg overflow-hidden shadow-lg">
      <section class="p-6">
        <li class="mb-10 ms-4">
          <div class="absolute w-3 h-3 bg-gray-700 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
          <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">10. Dezember 2023</time>
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">Test Titel</h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            Test BeschreibungTest BeschreibungTest BeschreibungTest BeschreibungTest BeschreibungTest
            BeschreibungTest BeschreibungTest BeschreibungTest BeschreibungTest BeschreibungTest BeschreibungTest
            BeschreibungTest BeschreibungTest BeschreibungTest Beschreibung
          </p>
        </li>
      </section>
    </div>
  </ol>
</div>
