@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'MouseMemoirs', serif;
}

@font-face {
  font-family: 'MouseMemoirs';
  src: url('assets/fonts/MouseMemoirs.ttf');
}
